:root {
  --background: black;
  --header: #d16f27;
  --text: #7b4117;
  --special: #8b27d1;
}

body {
  color: var(--text);
  font-family: "Caveat Brush";
  font-size: 3.5vw;

  background: var(--background);
}

h1, h2, p { margin: 0.5vw; }
h1, h2 {
  color: var(--header);
  font-family: "Permanent Marker";
}
h1 { font-size: 6vw; }
h2 { font-size: 3.5vw; }

a {
  transition: 0.2s;

  color: var(--special);
}
a:hover {
  transition: 0.2s;

  color: var(--header);
}

em {
  color: var(--special);
  font-style: normal;
  text-transform: uppercase;
}

hr {
  width: 85%;
  border: none;
  border-top: dotted var(--text);
}

button {
  transition: 0.2s;
  cursor: pointer;

  margin: 2vw;

  font-family: "Permanent Marker";
  font-size: 3.5vw;
  color: var(--header);

  border: none;
  border-radius: 0.5vw;

  background: var(--text);
}
button:hover {
  transition: 0.2s;

  color: var(--background);

  background: var(--special);
}

.flexcolumn, .flexrow, .dotbox, .dotbox_mini {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.flexcolumn { flex-direction: column; }
.flexrow { flex-direction: row; }
.dotbox, .dotbox_mini {
  width: 90vw;
  margin: 3vw;
  padding: 1vw;

  border: dotted;
  border-radius: 0.5vw;
}
.dotbox_mini {
  width: inherit;
  margin: 1vw;
}
