body {
  background-color: #9ce8c4;

  font-family: Tahoma, sans-serif;
}

h1 {
  font-size: 3vw;
  margin-top: 3vw;
}

a {
  text-decoration: none;
  color: #0a291b;
}

a:hover {
  color: #c1f0da;
}

.flex_menu {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #5ad89d;

  width: 60vw;
  height: 15vw;
  margin: 5vw;
}

.flex_item {
  font-size: 2vw;
  margin: 4vw;
}

#notes {
  font-size: 2vw;
  margin-top: 0vw;
}

#portfolio, #final {
  margin-bottom: 0vw;
}
