/* Colours */

:root {
  /*
  --background: #d8eff4;
  --boxes: #b0e9dd;
  --links: #00cc99;
  --hover: #99ff99;
  */

  /*
  --background: #0b090d;
  --body: #b549ff;
  --boxes: #2b0049;
  --links: #6700af;
  --hover: #967cff;
  */

  --background: #030007;
  --body: #5004c8;
  --boxes: #140132;
  --links: #5fa0c8;
  --hover: #d1e4ef;

  /*
  #6405fa (plus dark and light shades)
  #194be6 (plus light shade?)
  #5fa0a0
  */
}



/* Elements */

body {
  background-color: var(--background);
  font-family: "Trebuchet MS";
  color: var(--body);

  margin-bottom: 5vw;
}

.h0 {
  font-size: 8vw;
}

h1 {
  font-size: 3vw;
}

h2 {
  font-size: 2vw;
}

h3 {
  font-size: 1.5vw;
}

a {
  color: var(--links);
}

a:hover {
  color: var(--hover);
}

p {
  font-size: 1.5vw;
}

img {
  border-radius: 1vw;

  width: 60%;
}

video {
  border-radius: 1vw;

  width: 60vw;
}

textarea {
  font: 3vw "Trebuchet MS", sans-serif;

  height: 10vw;
  border-radius: 0.7vw;
  border: none;

  resize: none;
  padding: 1vw;
  background-color: var(--boxes);
  color: var(--body);
}

button {
  background-color: var(--links);
  border: none;
  border-radius: 0.5vw;

  width: auto;
  height: auto;
  padding: 1vw;

  font-size: 1.5vw;
  font-family: "Trebuchet MS";
}

button:hover {
  color: var(--hover);
}



/* Flex classes */

.flexcolumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.flexcolumn_green {
  background-color: var(--boxes);
  margin: 1vw;
  padding: 1vw;

  border-style: none none solid solid;
  border-color: var(--links);
  border-left-width: 1.5vw;
  border-bottom-width: 0.5vw;
  border-bottom-left-radius: 0.5vw;
  border-top-right-radius: 3vw;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.flexcolumn_left {
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin: 2vw;
}

.flexcolumn_absolute {
  background-color: var(--boxes);
  margin: 1vw;
  padding: 0.5vw;
  width: 20vw;

  position: absolute;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.flexrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}

.flexrow_green {
  background-color: var(--boxes);
  margin: 0.5vw;
  padding: 1vw;

  border-style: none none solid solid;
  border-color: var(--links);
  border-left-width: 1.5vw;
  border-bottom-width: 0.5vw;
  border-bottom-left-radius: 0.5vw;
  border-top-right-radius: 3vw;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}

.flexrow_left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  flex-wrap: wrap;
}

.flexrow_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  flex-wrap: wrap;
}

.flexitem {
  font-size: 2.5vw;
  text-align: center;
  margin: 1.5vw;
}

.flexitem_small_font {
  font-size: 0.8vw;
  text-align: center;
  margin: 1.5vw;
}

.flexitem_small_margin {
  font-size: 2.2vw;
  text-align: center;
  margin: 0.2vw;
}

.flexanim {
  font-size: 2.5vw;
  text-align: center;
  font-family: monospace;
  white-space: pre;
}

.flexascii {
  font-size: 2vw;
  text-align: center;
  font-family: monospace;
  white-space: pre;
}

.tildeitem {
  font-size: 2.5vw;
  text-align: center;

  margin-left: 0.8vw;
  margin-right: 0.8vw;
}



/* General Classes */

.img_small {
  border-radius: 2vw;
  width: 13vw;
  padding: 1vw;
}

.img_med {
  border-radius: 2vw;
  width: 25vw;
  padding: 1vw;
}

.img_big {
  border-radius: 2vw;
  width: 70vw;
  padding: 1vw;
}

.socialMediaLogo {
  border-radius: 50%;
  width: 5vw;
}

.nounderline {
  text-decoration: none;
}

.dark_box {
  background-color: var(--links);
  padding: 1vw;
}

.gameElement {
  border-radius: 0px;
  width: 5vw;
  position: absolute;
}

.logStyle {
  font-size: 2vw;

  display: flex;
  flex-flow: row;
  padding: 0.3vw;
}

.pairSpacing {
  margin-bottom: 2vw;
}

.c64game {
  display: flex;
  justify-content: center;
  flex-flow: column;

  font-size: 2vw;
  margin: 1vw;
}



/* IDs */

#titleimage {
  width: 20vw;

  border-radius: 50%;
}

#header {
  font-size: 1.25vw;
  text-decoration: none;

  margin-bottom: 5vw;
}

#footer {
  margin-top: 10vw;
}

#saw {
  font: 2vw monospace;
  white-space: pre;

  margin-right: 8vw;
}

#blm {
  background-color: #d1e4ef;
  font: 8vw "Arial Black";
  color: black;

  border: 1vw solid #5004c8;

  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 1vw;
  padding: 0.75vw;
}

/*
@font-face {
    font-family: "BackIssues";
    src: url("fonts/BackIssuesBB.woff2") format("woff2"),
         url("fonts/BackIssuesBB.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
*/
