body {
  background-color: #d8eff4;
  font-family: "Trebuchet MS", sans-serif;

  margin-bottom: 5vh;
}

h1 {
  font-size: 3vw;
}

h2 {
  font-size: 2vw;
}

a {
  color: #00cc99;
}

a:hover {
  color: #99ff99;
}

p {
  font-size: 1.5vw;
}

img {
  border-radius: 1vw;

  width: 60%;
}

video {
  border-radius: 1vw;

  width: 60%;
}

.flexcolumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.flexcolumn_left {
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin: 2vw;

  /*background-color: red;*/
}

.flexrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}

.flexrow_left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  flex-wrap: wrap;

  /*background-color: blue;*/
}

.flexrow_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  flex-wrap: wrap;

  /*background-color: red;*/
}

.flexitem {
  font-size: 2.5vw;
  text-align: center;
  margin: 1.5vw;
}

.flexitem_small_font {
  font-size: 0.8vw;
  text-align: center;
  margin: 1.5vw;
}

.flexitem_small_margin {
  font-size: 2.5vw;
  text-align: center;
  margin: 0.2vw;
}

.tildeitem {
  font-size: 2.5vw;
  text-align: center;

  margin-left: 0.8vw;
  margin-right: 0.8vw;
}

.flexanim {
  font-size: 2.5vw;
  text-align: center;
  font-family: monospace;
  white-space: pre;
}

.img_small {
  border-radius: 2vw;
  width: 23vw;
  padding: 1vw;
}

.nounderline {
  text-decoration: none;
}

#titleimage {
  width: 20vw;

  border-radius: 50%;
}

#header {
  font-size: 1.2vw;
  text-decoration: none;

  margin-bottom: 1vw;
}

#footer {
  margin-top: 10vh;
}

#saw {
  font-size: 2vw;
  font-family: monospace;
  white-space: pre;

  margin-right: 8vw;
}

#player {
  border-radius: 0px;
  width: 5vw;
  position: absolute;
  padding: 2vw;
}
