/* Colours */

:root {
  --background: #d8eff4;
  --boxes: #b0e9dd;
  --links: #00cc99;
  --hover: #99ff99;
}

/* Elements */

body {
  background-color: var(--background);
  font-family: "Trebuchet MS";

  margin-bottom: 5vh;
}

h1 {
  font-size: 3vw;
}

h2 {
  font-size: 2vw;
}

h3 {
  font-size: 1.5vw;
}

a {
  color: var(--links);
}

a:hover {
  color: var(--hover);
}

p {
  font-size: 1.5vw;
}

img {
  border-radius: 1vw;

  width: 60%;
}

video {
  border-radius: 1vw;

  width: 60%;
}

textarea {
  font-size: 3vw;
  font-family: "Trebuchet MS", sans-serif;

  height: 10vw;
  border-radius: 0.7vw;
  border: none;

  resize: none;
  padding: 1vw;
  background-color: var(--boxes);
}

button {
  background-color: var(--links);
  border: none;
  border-radius: 0.5vw;

  width: auto;
  height: auto;
  padding: 1vw;

  font-size: 1.5vw;
  font-family: "Trebuchet MS";
}

button:hover {
  color: var(--hover);
}

/* Flex classes */

.flexcolumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.flexcolumn_green {
  background-color: var(--boxes);
  margin: 0.5vw;
  padding: 1vw;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.flexcolumn_left {
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin: 2vw;
}

.flexcolumn_absolute {
  background-color: var(--boxes);
  margin: 1vw;
  padding: 0.5vw;
  width: 20vw;

  position: absolute;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.flexrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}

.flexrow_green {
  background-color: var(--boxes);
  margin: 0.5vw;
  padding: 1vw;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}

.flexrow_left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  flex-wrap: wrap;
}

.flexrow_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  flex-wrap: wrap;
}

.flexitem {
  font-size: 2.5vw;
  text-align: center;
  margin: 1.5vw;
}

.flexitem_small_font {
  font-size: 0.8vw;
  text-align: center;
  margin: 1.5vw;
}

.flexitem_small_margin {
  font-size: 2.2vw;
  text-align: center;
  margin: 0.2vw;
}

.flexanim {
  font-size: 2.5vw;
  text-align: center;
  font-family: monospace;
  white-space: pre;
}

.flexascii {
  font-size: 2vw;
  text-align: center;
  font-family: monospace;
  white-space: pre;
}

.tildeitem {
  font-size: 2.5vw;
  text-align: center;

  margin-left: 0.8vw;
  margin-right: 0.8vw;
}

/* General Classes */

.img_small {
  border-radius: 2vw;
  width: 23vw;
  padding: 1vw;
}

.socialMediaLogo {
  border-radius: 50%;
  width: 5vw;
}

.nounderline {
  text-decoration: none;
}

.gameElement {
  border-radius: 0px;
  width: 5vw;
  position: absolute;
}

.logStyle {
  font-size: 2vw;

  display: flex;
  flex-flow: row;
  padding: 0.3vw;
}

.pairSpacing {
  margin-bottom: 2vh;
}

.c64game {
  display: flex;
  justify-content: center;
  flex-flow: column;

  font-size: 2vw;
  margin: 1vw;
}

/* IDs */

#titleimage {
  width: 20vw;

  border-radius: 50%;
}

#header {
  font-size: 1.2vw;
  text-decoration: none;

  margin-bottom: 1vw;
}

#footer {
  margin-top: 10vh;
}

#saw {
  font-size: 2vw;
  font-family: monospace;
  white-space: pre;

  margin-right: 8vw;
}
