html {
  background-color: #00b386;
}

body {
  background-color: #d8eff4;

  margin-top: 20px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 80px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  font-family: "Trebuchet MS", sans-serif;
}

h1 {
  font-family: Tahoma, sans-serif;
}

h2 {
  text-emphasis: 2px;
  text-decoration: underline;
}

th, td {
  border: 2px solid black;
  text-align: center;
  border-radius: 1.5px;
}

th {
  text-decoration: underline;
}

a:link {
  color: #009900;
}

a:visited {
  color: #00b386;
}

a:hover {
  color: #99ff99;
}

img {
  width: 70%;
  border-radius: 20px;
  border: 2px solid black;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

video {
  width: 70%;
  border-radius: 20px;
  border: 2px solid black;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  border: 1.5px solid black;
  border-radius: 20px;
  margin-right: 10px;
}

ol {
  margin-right: 10px;
  list-style-type: upper-roman;
}

.header {
  background-color: #00b386;
}
