body {
  background-color: #d8eff4;
  padding-top: 200px;

  font-family: "Trebuchet MS", sans-serif;
}

p {
  text-align: center;
  font-size: 45px;
}

table, td {
  align-content: center;
  border: 4px solid black;
  font-size: 30px;
}

a:link {
  color: #009900;
}

a:visited {
  color: #00cc99;
}

a:hover {
  color: #99ff99;
}

#invisible {
  color: #d8eff4;
  padding-top: 500px;
}
