:root {
  --background: #140132;
  --body: #5004c8;
  --boxes: #030007;
  --links: #3d1ada;
  --hover: #846cee;
  --backText: #0a0119;
}

body {
  background-color: var(--background);
  font-family: "Trebuchet MS";
  color: var(--body);

  display: flex;
  justify-content: center;
}

a {
  color: var(--links);
}

a:hover {
  color: var(--hover);
}

img {
  border: 0.75vw solid var(--body);
  border-radius: 180px;

  width: 24vw;
}

.flexcolumn {
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.flexrow {
  display: flex;
  justify-content: center;
  flex-flow: row;
}

.flexitem {
  font-size: 2.5vw;
  text-align: center;
  margin: 1vw;
}

.flex_extra {
  background-color: var(--boxes);
  margin: 2vw;
  padding: 1.5vw;

  border-style: none none solid solid;
  border-color: var(--body);
  border-left-width: 1.5vw;
  border-bottom-width: 0.5vw;
  border-top-right-radius: 30px;

  display: flex;
  justify-content: center;
}

.flexrow_wrap {
  display: flex;
  justify-content: center;
  flex-flow: row;
  flex-wrap: wrap;
}

.flexanim {
  font-size: 1.75vw;
  font-family: monospace;
}

#titleimage {
  margin: 2vw;
}

#backgroundText {
  z-index: -1;
  position: fixed;
  left: -80px;
  top: -130px;

  color: var(--backText);
  font: 50px "Disposable";
  line-height: 50px;

  transform: rotate(10deg);
  width: 1650px;
  word-wrap: break-word;
}

#circlePosition {
  text-decoration: none;
  position: fixed;
  left: 49vw;
  top: 13vw;
}

@font-face {
    font-family: "Disposable";
    src: url("fonts/DisposableDroid.woff2") format("woff2"),
         url("fonts/DisposableDroid.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .flexitem {
    font-size: 5vw;
    margin: 1vw;
  }

  #circlePosition {
    left: 50vw;
    top: 53vw;
  }

  .flexanim {
    font-size: 2.75vw;
  }

  img {
    border: 1vw solid var(--body);

    width: 40vw;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    /*Insert your tablet CSS in here!*/
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    /*Insert your mobile CSS in here!*/
}
