#maze {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.box {
    width: 12px;
    height: 12px;
    border: 1px solid black;

    font-size: 10px;
    text-align: center;
}

.box_filled {
    background: black;
}