/* Colours */

:root {
  --background: #140132;
  --body: #5004c8;
  --boxes: #030007;
  --links: #3d1ada;
  --hover: #846cee;
  --backText: #0a0119;
}



/* Elements */

body {
  background-color: var(--background);
  font-family: "Trebuchet MS", sans-serif;
  color: var(--body);

  margin-bottom: 5vh;
}

h1 {
  font-size: 3vw;
}

h2 {
  font-size: 2vw;
}

a {
  color: var(--links);
}

a:hover {
  color: var(--hover);
}



/* Flex classes */

.flexcolumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.flexrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}

.flexitem {
  font-size: 2.5vw;
  text-align: center;
  margin: 1.5vw;
}

.flexrow_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  flex-wrap: wrap;
}

.flexascii {
  font-size: 2vw;
  text-align: center;
  font-family: monospace;
  white-space: pre;
}

.flexrainbow {
  font-size: 4vw;
  text-align: center;
  margin: 3vw;
}



/* General Classes and IDs */

.newColour {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}

.nounderline {
  text-decoration: none;
}

.invisible {
  color: var(--background);
}

.invisible:hover {
  color: var(--background);
}

#backgroundText {
  z-index: -1;
  position: fixed;
  left: -200px;
  top: -150px;

  color: var(--backText);
  font: 50px "Disposable";
  line-height: 50px;

  transform: rotate(10deg);
  width: 1650px;
  word-wrap: break-word;
  user-select: none;
}



/* Fonts */

@font-face {
    font-family: "Disposable";
    src: url("fonts/DisposableDroid.woff2") format("woff2"),
         url("fonts/DisposableDroid.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
