:root {
  /*
  --background: #d8eff4;
  --boxes: #b0e9dd;
  --links: #00cc99;
  --hover: #99ff99;
  */

  --background: #0b090d;
  --body: #b549ff;
  --boxes: #2b0049;
  --links: #6700af;
  --hover: #967cff;
}

body {
  background-color: var(--background);
  font-family: "Trebuchet MS", sans-serif;
  color: var(--body);

  margin-bottom: 5vh;
}

h1 {
  font-size: 3vw;
}

h2 {
  font-size: 2vw;
}

a {
  color: var(--links);
}

a:hover {
  color: var(--hover);
}

.flexcolumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.flexrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}

.newColour {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}

.flexrow_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  flex-wrap: wrap;
}

.flexitem {
  font-size: 2.5vw;
  text-align: center;
  margin: 1.5vw;
}

.flexascii {
  font-size: 2vw;
  text-align: center;
  font-family: monospace;
  white-space: pre;
}

.flexrainbow {
  font-size: 4vw;
  text-align: center;
  margin: 3vw;
}

.nounderline {
  text-decoration: none;
}

.invisible {
  color: var(--background);
}

.invisible:hover {
  color: var(--background);
}
