textarea {
  width: 40vw;
}

button {
  font-size: 3vw;

  margin: 2vw;
}

p {
  font-size: 1.5vw;
}

img {
  width: 5.3vw;

  margin: -0.3vw;
  margin-bottom: -0.5vw;
}

#guide {
  width: 50vw;

  padding: 3vw;
}

.out {
  padding: 1vw;

  display: flex;
  flex-wrap: wrap;
}

.flexcolumn, .flexrow {
  display: flex;

  align-items: center;
  justify-content: center;
}
.flexcolumn { flex-direction: column; }
.flexrow { flex-direction: row; }
