/* ### Colours ### */

:root {
  --green: #0aff0a;
  --transparent: rgba(10, 255, 10, 0.25);

  --purple: #ff0aff;
  --green_dark: #004200;
}

/* ### Elements ### */

body {
  background-color: black;
  color: var(--green);

  font-family: "Disposable";
  text-align: center;
  font-size: 2vw;
}

input {
  border-color: var(--green);
  border-style: solid;
  padding: 0.5vw;
  width: 7vw;

  font-size: 2vw;
  font-family: "Disposable";

  color: var(--green);
  background-color: var(--transparent);
}

a, button {
  border-color: var(--green);
  border-style: solid;
  border-width: 0.5vw;

  margin: 1vw;
  padding: 0.5vw;

  font-size: 3.5vw;
  font-family: "Oxygene";
  text-decoration: none;

  color: var(--green);
  background-color: var(--transparent);
}

a:hover, button:hover {
  background-color: var(--green);
}

h1 {
  font-size: 5vw;
  font-family: "DPComic";
  margin: 2.5vw;
}

h2 {
  font-size: 3vw;
  font-family: "DPComic";
  margin: 1vw;
}

h3 {
  font-family: "DPComic";
  margin: 1vw;
}

p {
  font-size: 2vw;
}



/* ### Flex classes ### */

.flexcolumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.flexcolumn_green {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  background-color: var(--transparent);
  width: 75vw;
  padding: 0.5vw;
}

.flexrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}

.flexrow_green {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;

  background-color: var(--transparent);
}

.flexrow_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  flex-wrap: wrap;
}

.flexitem {
  font-size: 2.5vw;
  text-align: center;

  margin-right: 0.5vw;
  margin-left: 0.5vw;
}



/* ### IDs and other classes ### */

#path {
  font-family: "Oxygene";
  font-size: 2vw;
  padding: 0.5vw;

  position: absolute;
  left: 0;
  top: 0;

  background-color: var(--transparent);
}

#inventory {
  font-family: "Oxygene";
  font-size: 2vw;
  padding: 0.5vw;

  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;

  background-color: var(--transparent);
}

#companions {
  font-family: "Oxygene";
  font-size: 2vw;
  padding: 0.5vw;

  position: absolute;
  right: 0;
  bottom: 0;

  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;

  background-color: var(--transparent);
}

.menuItem {
  width: 6vw;
  height: 6vw;
  margin-left: 1vw;
}

.textScreen, #infoScreen {
  width: 31%;
  height: 16.5vw;
  position: relative;

  border-style: solid;
  border-color: var(--green);
  background-color: var(--transparent);
  border-width: 0.1vw;

  padding: 1vw;

  display: flex;
  align-items: center;
  flex-flow: column;
}

#bigInfo {
  width: 60vw;
  position: absolute;

  font-family: "DPComic";
}

.artScreen {
  width: 31%;
  height: 16.5vw;
  position: relative;

  border-style: solid;
  border-color: var(--green);
  border-width: 0.1vw;

  padding: 1vw;
}

.moveOptions {
  position: absolute;
  bottom: 1.5vw;

  padding-left: 5vw;
  padding-right: 5vw;
}

#t5 {
  font-size: 1.75vw;
}

#s1, #s7 {
  text-align: right;
  border: none;
  font-family: "DPComic";
}

#s3, #s9 {
  text-align: left;
  border: none;
  font-family: "DPComic";
}

.speech {
  font-family: "DPComic";
  color: var(--purple);

  background-color: rgba(255, 10, 255, 0.25);
  border-style: solid;
  border-color: var(--purple);

  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}

#name {
  font-family: "DPComic";
  color: var(--purple);
  font-size: 2vw;

  font-style: italic;

  margin-left: 1vw;
  margin-right: 1vw;
}

.code {
  font-family: "Oxygene";
  font-size: 1vw;

  color: var(--green_dark);
}



/* ### Dropdowns ### */

/* Main DIV */
.dropdown {
  /*
  visibility: hidden;
  */

  position: absolute;
  right: 0;
  top: 0;

  background-color: var(--green_dark);
  width: 15.5vw;
}

/* Hidden Dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
}

#jumpButton {
  font-size: 2vw;
}

#jumpButton:hover {
  background-color: var(--transparent);
}

/* Links inside the dropdown */
.dropdown-content button {
  font-size: 2vw;
  font-family: "Disposable";
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: flex;
  flex-flow: column;

  border-color:var(--green);
  border-style: solid;
  border-width: 0.5vw;

  background-color: var(--green_dark);
}



/* ### Font Faces ### */

@font-face { /* disposabledroid (default) */
    font-family: "Disposable";
    src: url("fonts/DisposableDroid.woff2") format("woff2"),
         url("fonts/DisposableDroid.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face { /* dpcomic (special) */
    font-family: "DPComic";
    src: url("fonts/DPComic.woff2") format("woff2"),
         url("fonts/DPComic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face { /* Oxygene1 (UI) */
    font-family: "Oxygene";
    src: url("fonts/Oxygene1.woff2") format("woff2"),
         url("fonts/Oxygene1.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}



/* ### Unused fonts ### */

@font-face { /* game-over (small) */
    font-family: "GameOver";
    src: url("fonts/GameOver.woff2") format("woff2"),
         url("fonts/GameOver.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face { /* Bitmgothic (extra) */
    font-family: "Bitmgothic";
    src: url("fonts/Bitmgothic.woff2") format("woff2"),
         url("fonts/Bitmgothic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
