/* ### Colours ### */

:root {
  --green: #0aff0a;
  --transparent: rgba(10, 255, 10, 0.25);

  --purple: #ff0aff;
  --green_dark: #004200;
}

/* ### Elements ### */

body {
  background-color: black;
  color: var(--green);

  font-family: "disposabledroid";
  text-align: center;
  font-size: 2vw;
}

input {
  border-color: var(--green);
  border-style: solid;
  padding: 0.5vw;
  width: 7vw;

  font-size: 2vw;
  font-family: "disposabledroid";

  color: var(--green);
  background-color: var(--transparent);
}

a, button {
  border-color: var(--green);
  border-style: solid;
  border-width: 0.5vw;

  margin: 1vw;
  padding: 0.5vw;

  font-size: 3.5vw;
  font-family: "dpcomic";
  text-decoration: none;

  color: var(--green);
  background-color: var(--transparent);
}

a:hover, button:hover {
  background-color: var(--green);
}

h1 {
  font-size: 5vw;
  font-family: "dpcomic";
  margin: 2.5vw;
}

h2 {
  font-size: 2.5vw;
  font-family: "dpcomic";
  margin: 1vw;
}

h3 {
  font-family: "dpcomic";
  margin: 1vw;
}

p {
  font-size: 2vw;
}



/* ### Flex classes ### */

.flexcolumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.flexcolumn_green {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  background-color: var(--transparent);
  width: 75vw;
  padding: 0.5vw;
}

.flexrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}

.flexrow_green {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;

  background-color: var(--transparent);
}

.flexrow_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  flex-wrap: wrap;
}

.flexitem {
  font-size: 2.5vw;
  text-align: center;

  margin-right: 0.5vw;
  margin-left: 0.5vw;
}



/* ### IDs and other classes ### */

#header_left {
  font-family: "dpcomic";
  font-size: 2vw;
  padding: 0.5vw;

  position: absolute;
  left: 0px;
  top: 0px;

  background-color: var(--transparent);
}

.textScreen {
  width: 31%;
  height: 16.5vw;
  position: relative;

  border-style: solid;
  border-color: var(--green);
  background-color: var(--transparent);
  border-width: 0.1vw;

  padding: 1vw;

  display: flex;
  align-items: center;
  flex-flow: column;
}

.artScreen {
  width: 31%;
  height: 16.5vw;
  position: relative;

  border-style: solid;
  border-color: var(--green);
  border-width: 0.1vw;

  padding: 1vw;
}

.moveOptions {
  position: absolute;
  bottom: 1.5vw;

  padding-left: 5vw;
  padding-right: 5vw;
}

#t5 {
  font-size: 1.75vw;
}

#s1, #s7 {
  text-align: right;
  border: none;
  font-family: "dpcomic";
}

#s3, #s9 {
  text-align: left;
  border: none;
  font-family: "dpcomic";
}

.speech {
  font-family: "dpcomic";
  color: var(--purple);

  background-color: rgba(255, 10, 255, 0.25);
  border-style: solid;
  border-color: var(--purple);

  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}



/* ### Dropdowns ### */

/* Main DIV */
.dropdown {
  /*
  visibility: hidden;
  */

  position: absolute;
  right: 0px;
  top: 0px;

  background-color: var(--green_dark);
  width: 14.3vw;
}

/* Hidden Dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
}

#jumpButton {
  font-size: 2vw;
}

#jumpButton:hover {
  background-color: var(--transparent);
}

/* Links inside the dropdown */
.dropdown-content button {
  font-size: 2vw;
  font-family: "disposabledroid";
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: flex;
  flex-flow: column;

  border-color:var(--green);
  border-style: solid;
  border-width: 0.5vw;

  background-color: var(--green_dark);
}



/* ### Font Faces ### */

@font-face { /* dpcomic (special) - Regular */
    font-family: "dpcomic";
    src: url("fonts/dpcomic-webfont.woff2") format("woff2"),
         url("fonts/dpcomic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face { /* disposabledroid (default) - Regular */
    font-family: "disposabledroid";
    src: url("fonts/disposabledroidbb-webfont.woff2") format("woff2"),
         url("fonts/disposabledroidbb-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face { /* disposabledroid (default) - Bold */
    font-family: "disposabledroid";
    src: url("fonts/disposabledroidbb_bld-webfont.woff2") format("woff2"),
         url("fonts/disposabledroidbb_bld-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face { /* disposabledroid (default) - Italic */
    font-family: "disposabledroid";
    src: url("fonts/disposabledroidbb_ital-webfont.woff2") format("woff2"),
         url("fonts/disposabledroidbb_ital-webfont.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face { /* disposabledroid (default) - BoldItalic */
    font-family: "disposabledroid";
    src: url("fonts/disposabledroidbb_bldital-webfont.woff2") format("woff2"),
         url("fonts/disposabledroidbb_bldital-webfont.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}
