.flex_welcome {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 3vw;
}

.flex_enter {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  top: -90px;
  opacity: 0;
}

.flex_footer {
  display: flex;

  position: absolute;
  bottom: 0;
  left: 0;
}

.flex_footer_item {
  margin: 2vw;
  font-size: 20px;
}

body {
  font-family: Arial Narrow, Arial, sans-serif;
}

button {
  font-size: 3vw;
  font-family: Arial Narrow, Arial, sans-serif;

  border: 0px;
  background-color: transparent;
}

#green {
  color: green;
}

#orange {
  color: orange;
}

#blue {
  color: blue;
}
