body {
  padding-bottom: 5vw;

  color: white;
  font-size: 2vw;
  font-family: "Consolas";

  background: black;
}

h1 {
  transition: 0.1s;

  margin-bottom: 0;

  font-size: 5vw;
  font-family: "Futura PT";
}
h1:hover {
  transition: 0.3s;

  text-shadow: 1vw 1vw blue;
}

h2 {
  transition: 0.1s;

  margin-top: 10vw;

  font-size: 3vw;
  font-family: "Futura PT";
}
h2:hover {
  transition: 0.3s;

  text-shadow: 0.5vw 0.5vw green;
}

.flexcolumn, body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
