html {
    scroll-behavior: smooth;
}

body,
html {
    overflow-x: hidden;
    background: black;
}

p {
    margin: 0;

    font-family: "hightower-text", serif;
    font-weight: 400;
    font-style: normal;

    font-size: 60px;
}

h1,
h2 {
    margin: 0;

    font-family: 'Staatliches', cursive;

    text-align: center;
    letter-spacing: 1px;
}

h1 {
    font-weight: 300;

    font-size: 90px;
    line-height: 90px;
}

h2 {
    font-weight: 200;

    font-size: 60px;
}

.flex_column,
.flex_row {
    display: flex;
}

.flex_column {
    flex-direction: column;
}

.flex_row {
    flex-direction: row;
}

.center {
    align-items: center;
    justify-content: center;
}

.right {
    align-items: end;
    justify-content: end;
}

.left {
    align-items: start;
    justify-content: start;
}

.spread_out {
    align-items: center;
    justify-content: space-between;
}

.light_text {
    color: white;
}

.dark_text {
    color: black;
}

.feature {
    width: 75%;
}

.feature_name {
    font-size: 75px;
    margin-bottom: 24px;
    text-align: left;
    width:100%;
}

.banner {
    z-index: 1;

    width: 300%;
    margin-top: -15px;
    margin-bottom: -60px;
}

#glow:hover {
    filter: drop-shadow(1px 1px 5px white);
}

.logo_link:hover {
    filter: opacity(50%);
}

#nav_bar {
    position: fixed;
    z-index: 3;
    top: 0;

    height: 200px;
    width: 100%;

    padding: 10px;

    background: black;
}

#hero {
    width: 110%;
    height: 1700px;

    background-image: url("images/hero/hero-bg-mobile.png");
    background-repeat: no-repeat;
    /* background-position: top; */
    background-size: 300%;

    margin-top: 10px;
}

#trailer {
    width: 110%;
    margin-top: -100px;

    background-image: url("images/trailer/page-rip-texture.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

#features {
    width: 110%;
    padding-bottom: 80px;

    background-image: url("images/features/game-features-tiles-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#footer {
    width: 110%;

    background-image: url("images/footer/footer-bg.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

@keyframes bob {
    0% {
        margin-top: 0;
    }

    50% {
        margin-top: 75px;
    }

    100% {
        margin-top: 0;
    }
}

.bob {
    animation: bob 2s infinite;
}

@keyframes rotate {
    0% {
        rotate: 0deg;
    }

    50% {
        rotate: 7deg;
    }

    100% {
        rotate: 0deg;
    }
}

.rotate {
    animation: rotate 2s infinite;
}