body {
  background-color: black;
  font-family: Arial Narrow, Arial, sans-serif;
}

.flex_window {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;

  width: 100%;
}

.flex_split {
  border: 0px;
  margin: 3vh;

  //Don't use this, but it makes the squares look cool
  //position: absolute;
}

.flex_nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_nav_title {
  color: white;
  font-size: 50px;
  text-decoration: underline;

  position: absolute;
}

.flex_nav_add {
  color: white;
  font-size: 20px;
  text-decoration: underline;

  position: absolute;
  left: 3vw;
}

.flex_nav_path {
  color: white;
  font-size: 20px;
  text-decoration: underline;

  position: absolute;
  right: 3vw;
}
