body {
  background-color: black;
}

.flex_window {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
}

.flex_split {
  border: 0px;

  background-color: grey;
  margin: 3vh;

  width: 40vh;
  height: 40vh;
}
