body {
  background-color: black;
  font-family: Arial Narrow, Arial, sans-serif;
}

h1 {
  color: white;
  font-size: 50px;
  text-decoration: underline;
}

.flex_window {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;

  width: 100%;
}

.flex_split {
  border: 0px;
  margin: 3vh;
}

/*
Centred on x and y axis:

margin: 0;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
*/
