.flexwelcome {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 3vw;
}

.flexenter {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  top: -90px;

  opacity: 0;
}

button {
  font-size: 3vw;

  border: 0px;
  background-color: transparent;
}

#enterID {}
