.flexwelcome {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 3vw;
}

.flexenter {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  top: -90px;

  font-size: 3.5vw;
}
