@import url("https://use.typekit.net/csa5hex.css");

/* Colours */

:root {
  --background: #140132;
  --boxes: #030007;
  --body: #5004c8;
  --links: #3d1ada;
  --hover: #a08ef2;
}



/* Elements */

body {
  transition: 0.3s;

  font-family: lores-12, sans-serif;
  font-weight: 400;
  font-style: normal;

  background-color: var(--background);
  color: var(--body);
}

h1, h2, h3, button, #backgroundText, .alert {
  font-family: lores-12-bold-alt-oakland, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 { font-size: 3vw; }
h2 { font-size: 2vw; }
h3 { font-size: 1.5vw; }

a, #form {
  text-decoration: none;
  position: relative;

  background: linear-gradient(to bottom right, var(--links), var(--hover));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
a:after, #form:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 0.2vw solid;
  border-image-source: linear-gradient(to bottom right, red, var(--links));
  border-image-slice: 1;
  transition: 0.5s;
}
a:hover, #form:hover {
  background: linear-gradient(to bottom right, var(--links), red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
a:hover:after, #form:hover:after {
  width: 100%;
}

p { font-size: 2vw; }

img {
  border-radius: 1vw;
  width: 60vw;
}

video {
  border-radius: 1vw;
  width: 60vw;
}

textarea {
  font-family: lores-12, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5vw;

  height: 10vw;
  border-radius: 0.7vw;
  border: none;

  resize: none;
  padding: 1vw;
  background-color: var(--boxes);
  color: var(--body);
}

button {
  border: none;
  border-radius: 0.5vw;
  padding: 1vw;

  color: var(--boxes);
  font-size: 1.5vw;

  background: linear-gradient(to bottom right, var(--links), var(--hover));
}

button:hover { background: linear-gradient(to bottom right, var(--links), red); }



/* Flex classes */

.flexcolumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-bottom: 2vw;
}

.flexrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.flexitem {
  font-size: 2.5vw;
  text-align: center;
  margin: 1vw;
}

.flexcolumn_left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2vw;
}

.flexrow_left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.flexrow_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex_extra {
  background-color: var(--boxes);
  margin: 2vw;
  padding: 1.5vw;

  border-style: none none solid solid;
  border-color: var(--body);
  border-left-width: 1.5vw;
  border-bottom-width: 0.5vw;
  border-top-right-radius: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.flexitem_small_font {
  font-size: 0.8vw;
  text-align: center;
  margin: 1vw;
}

.flexitem_small_margin {
  font-size: 2vw;
  text-align: center;
  margin: 0.2vw;
}



/* General Classes */

.img_small, .img_med, .img_big {
  border-radius: 2vw;
  padding: 1vw;
}
.img_small { width: 13vw; }
.img_med { width: 25vw; }
.img_big { width: 70vw; }

.nounderline { text-decoration: none; }
.nounderline_fancy:after { border: none; }



/* Special Classes and IDs */

#backgroundText {
  z-index: -1;
  position: fixed;
  left: -200px;
  top: -150px;

  font-size: 2.5vw;

  color: var(--boxes);
  opacity: 0.5;
  line-height: 50px;
  word-wrap: break-word;
  user-select: none;

  transform: rotate(10deg);
  width: 120vw;
}

.gameElement {
  border-radius: 0px;
  width: 5vw;
  position: absolute;
}

.c64game {
  display: flex;
  justify-content: center;
  flex-direction: column;

  font-size: 2vw;
  margin: 1vw;
}

.findLink {
  font-size: 2.5vw;
  margin: 1vw;
}

.alert {
  background: linear-gradient(to bottom right, red, var(--links));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Mobile Optimization */

@media only screen and (max-width: 1000px) {
  h1 { font-size: 5vw; }

  h2 { font-size: 3vw; }

  p { font-size: 2.5vw; }

  .flexitem { font-size: 3.5vw; }

  #backgroundText {
    left: -150px;
    font-size: 4vw;
  }

  #flex_extra_alt { font-size: 3vw; }

  .findLink { font-size: 3vw; }
}
