/* Colours */

:root {
  --background: #140132;
  --body: #5004c8;
  --boxes: #030007;
  --links: #3d1ada;
  --hover: #846cee;
  --backText: #0a0119;
}



/* Elements */

body {
  transition: 0.3s;

  background-color: var(--background);
  font-family: "Trebuchet MS";
  color: var(--body);
}

h1 { font-size: 3vw; }

h2 { font-size: 2vw; }

h3 { font-size: 1.5vw; }

a {
  transition: 0.3s;

  color: var(--links);
}

a:hover {
  transition: 0.3s;

  color: var(--hover);
}

p { font-size: 2vw; }

img {
  border-radius: 1vw;
  width: 60vw;
}

video {
  border-radius: 1vw;
  width: 60vw;
}

textarea {
  font: 3vw "Trebuchet MS", sans-serif;

  height: 10vw;
  border-radius: 0.7vw;
  border: none;

  resize: none;
  padding: 1vw;
  background-color: var(--boxes);
  color: var(--body);
}

button {
  transition: 0.3s;

  background-color: var(--links);
  border: none;
  border-radius: 0.5vw;

  width: auto;
  height: auto;
  padding: 1vw;

  font-size: 1.5vw;
  font-family: "Trebuchet MS";
}

button:hover {
  transition: 0.3s;

  color: var(--hover);
}



/* Flex classes */

.flexcolumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-bottom: 2vw;
}

.flexrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.flexitem {
  font-size: 2.5vw;
  text-align: center;
  margin: 1vw;
}

.flexcolumn_left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2vw;
}

.flexrow_left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.flexrow_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex_extra {
  background-color: var(--boxes);
  margin: 2vw;
  padding: 1.5vw;

  border-style: none none solid solid;
  border-color: var(--body);
  border-left-width: 1.5vw;
  border-bottom-width: 0.5vw;
  border-top-right-radius: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#flex_extra_alt {
  transition: 0.3s;

  color: #800000;
  font-size: 1.5vw;
  background-color: var(--boxes);
  margin: 2vw;
  padding: 2vw;

  border-style: none none solid solid;
  border-color: #800000;
  border-left-width: 1.5vw;
  border-bottom-width: 0.5vw;
  border-top-right-radius: 30px;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.flexitem_small_font {
  font-size: 0.8vw;
  text-align: center;
  margin: 1vw;
}

.flexitem_small_margin {
  font-size: 2vw;
  text-align: center;
  margin: 0.2vw;
}

.flexanim {
  font-size: 1.75vw;
  font-family: monospace;
}

.flexascii {
  font-size: 2vw;
  text-align: center;
  font-family: monospace;
  white-space: pre;
}



/* General Classes */

.img_small {
  border-radius: 2vw;
  width: 13vw;
  padding: 1vw;
}

.img_med {
  border-radius: 2vw;
  width: 25vw;
  padding: 1vw;
}

.img_big {
  border-radius: 2vw;
  width: 70vw;
  padding: 1vw;
}

.nounderline {
  text-decoration: none;
}

.bigA {
  background-color: var(--links);
  color: var(--boxes);
  border: none;
  border-radius: 0.5vw;

  width: auto;
  height: auto;
  padding: 2vw;

  font-size: 3vw;
  text-decoration: none;
}



/* Special Classes and IDs */

#footer {
  margin-top: 5vw;
}

#backgroundText {
  z-index: -1;
  position: fixed;
  left: -200px;
  top: -150px;

  color: var(--backText);
  font: 50px "Disposable";
  line-height: 50px;

  transform: rotate(10deg);
  width: 120vw;
  word-wrap: break-word;
  user-select: none;
}

.gameElement {
  border-radius: 0px;
  width: 5vw;
  position: absolute;
}

.c64game {
  display: flex;
  justify-content: center;
  flex-direction: column;

  font-size: 2vw;
  margin: 1vw;
}


/* Fonts and Mobile Optimization */

@font-face {
    font-family: "Disposable";
    src: url("fonts/DisposableDroid.woff2") format("woff2"),
         url("fonts/DisposableDroid.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@media only screen and (max-width: 1000px) {
  h1 { font-size: 5vw; }

  h2 { font-size: 3.5vw; }

  p { font-size: 2.5vw; }

  .flexitem { font-size: 3.5vw; }

  #flex_extra_alt { font-size: 3vw; }
}
