/* Elements */

body {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

h2 { font-size: 2.5vw; }

p { font-size: 1.65vw; }

img { width: 10vw; } /* To help align the CSS for the nightnight plugin  */



/* Animations */

@keyframes fullRotation {
  to { transform: rotate(360deg); }
}



/* Flex classes */

.flexcolumn { margin-top: -1vw; }
.flexitem { font-size: 2.45vw; }
.flex_extra { margin: 1.75vw; }



/* General Classes and IDs */

#imgInner {
  position: absolute;

  width: 21vw;
  height: 21vw;
  top: 17.5vw;
  left: 39.7vw;

  border-radius: 20vw;
}

#imgOuter {
  animation: fullRotation 1.5s reverse linear infinite;

  width: 25vw;
  height: 25vw;
  margin: 2vw;

  border-radius: 20vw;

  background: var(--gradient-hover);
}

#circlePosition {
  animation: fullRotation 9s linear infinite;

  position: fixed;
  left: 49.9vw;
  top: 12.5vw;

  text-decoration: none;
}

#curvedText {
  transition: 0.3s;

  font-size: 1.75vw;
  font-family: monospace;

  -webkit-text-fill-color: var(--body);
}

#curvedText:hover {
  transition: 0.3s;
  -webkit-text-fill-color: var(--highlight);
}

#descriptionBox { width: 25vw; }

#form {
  font-size: 2.5vw;
  /* cursor: url('\\Media/Index_Media/cursor_point.png'), default; */
  cursor: pointer;
}



/* Mobile Optimization */

@media only screen and (max-width: 1000px) {
  body { overflow-y: visible; }

  img {
    width: 36vw;
    height: 36vw;
  }

  p { font-size: 3vw; }

  .flexrow { flex-direction: column; }
  .flexitem {
    font-size: 5vw;
    margin: 1vw;
  }
  .flexanim { font-size: 2.75vw; }

  #imgInner {
    top: 55.3vw;
    left: 55.3vw;

    width: 32vw;
    height: 32vw;
  }

  #imgOuter {
    width: 38vw;
    height: 38vw;
  }

  #circlePosition { visibility: hidden; }
  #curvedText { font-size: 2.6vw; }

  #descriptionBox { width: 35vw; }

  #form { font-size: 5vw; }
}
