/* Colours */

:root {
  --background: #140132;
  --body: #5004c8;
  --boxes: #030007;
  --links: #3d1ada;
  --hover: #846cee;
  --backText: #0a0119;
}



/* Elements */

body {
  background-color: var(--background);
  font-family: "Trebuchet MS";
  color: var(--body);

  display: flex;
  justify-content: center;
  overflow: hidden;
}

a {
  color: var(--links);
}

a:hover {
  color: var(--hover);
}

img {
  border: 0.75vw solid var(--body);
  border-radius: 20vw;

  width: 24vw;
}



/* Flex classes */

.flexcolumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.flexrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}

.flexitem {
  font-size: 2.5vw;
  text-align: center;
  margin: 1vw;
}

.flex_extra {
  background-color: var(--boxes);
  margin: 2vw;
  padding: 1.5vw;

  border-style: none none solid solid;
  border-color: var(--body);
  border-left-width: 1.5vw;
  border-bottom-width: 0.5vw;
  border-top-right-radius: 30px;

  display: flex;
  justify-content: center;
}

.flexrow_wrap {
  display: flex;
  justify-content: center;
  flex-flow: row;
  flex-wrap: wrap;
}



/* General Classes and IDs */

#titleimage {
  margin: 2vw;
}

#backgroundText {
  z-index: -1;
  position: fixed;
  left: -200px;
  top: -150px;

  color: var(--backText);
  font: 50px "Disposable";
  line-height: 50px;

  transform: rotate(10deg);
  width: 120vw;
  word-wrap: break-word;
  user-select: none;
}

#circlePosition {
  text-decoration: none;
  position: fixed;
  left: 50vw;
  top: 12.7vw;
}

#descriptionBox {
  flex-flow: row;
  width: 25vw;
  font-size: 1.65vw;
}

#curvedText {
  font-size: 1.75vw;
  font-family: monospace;
}

#flex_extra_alt {
  color: #800000;
  font-size: 1.5vw;
  background-color: var(--boxes);
  margin: 2vw;
  padding: 2vw;

  border-style: none none solid solid;
  border-color: #800000;
  border-left-width: 1.5vw;
  border-bottom-width: 0.5vw;
  border-top-right-radius: 30px;

  display: flex;
  align-items: center;
  flex-flow: column;
}



/* Fonts and Mobile Optimization */

@font-face {
    font-family: "Disposable";
    src: url("fonts/DisposableDroid.woff2") format("woff2"),
         url("fonts/DisposableDroid.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@media only screen and (max-width: 1000px) {
  .flexitem {
    font-size: 5vw;
    margin: 1vw;
  }

  #circlePosition {
    left: 66vw;
    top: 30.5vw;
  }

  .flexanim {
    font-size: 2.75vw;
  }

  img {
    border: 1vw solid var(--body);

    width: 37vw;
  }

  #descriptionBox {
    font-size: 2.1vw;
  }

  .flexrow {
    flex-flow: column;
  }

  #curvedText {
    font-size: 2.6vw;
  }
}

/*
Mobile Landscape Size to Tablet Portrait (devices and browsers)
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

Mobile Portrait Size to Mobile Landscape Size (devices and browsers)
@media only screen and (max-width: 479px) {

}
*/
