body {
  overflow: hidden;
}

#flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
}

.pixel {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0.1vw;

  font-family: "Consolas";
}
