@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bungee+Shade&display=swap');

body {
  background-color: #42253B;

  font-family: "Anton";
  color: #95A3B3;
  font-size: 3vw;

  display: flex;
  flex-flow: column;
  align-items: center;
}

h1, h2, h3 {
  font-family: "Bungee Shade";
  color: #ABFAA9;
  font-size: 3vw;

  margin: 1vw;
}

h1 {
  color: #82D173;
  /* #4C2C69 */
  font-size: 7vw;
}

h2 {
  font-size: 5vw;
}

a {
  background-color: inherit;

  font-family: "Bungee Shade";
  color: #ABFAA9;
  font-size: 7vw;

  border: 0.5vw solid #ABFAA9;
  border-radius: 10px;
  text-decoration: none;

  margin: 2vw;
  padding: 1vw;
}

a:hover {
  color: #4C2C69;
  border-color: #4C2C69;
}

.flexitem {
  font-size: 2vw;

  margin: 1.5vw;
}

.flexcolumn {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.flexrow {
  display: flex;
  flex-flow: row;
}

.smallA {
  font-size: 4vw;
  margin: 0;
  padding: 0;
  border: none;
}

.smallA:hover {
  color: #42253B;
}

#worldBox {
  visibility: hidden;

  background-color: #4C2C69;

  border-radius: 10px;
  margin-bottom: 3vw;

  display: flex;
  flex-flow: column;
  align-items: center;

  width: 80vw;
  height: 50vw;
}
