:root {
  --warm-dark: #782D28;
  --warm-light: #C84637;
  --back: #F0DCD2;
  --cold-light: #197378;
  --cold-dark: #283C3C;
}

body {
  background-color: var(--back);
  background-image: url("\\Media/Resume_Media/spine.svg");
  background-repeat: no-repeat;
  background-size: 100vw 200vw;
  background-position: 0 20vw;

  color: var(--cold-dark);
  font-family: "Hind Siliguri";

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "ltc-globe-gothic";
  font-size: 10vw;
  letter-spacing: 0.6vw;

  margin: 2vw;
}

h2 {
  color: var(--cold-dark);
  font-size: 3vw;
  margin: 0;
}

span {
  color: var(--back);
  font-size: 2vw;
}

a {
  color: var(--back);
  transition: 0.3s;
}
a:hover {
  color: var(--warm-dark);
  transition: 0.3s;
}

img {
  position: absolute;
  width: 20vw;
  z-index: 0;
}

.flexcolumn {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  z-index: 1;

  background-color: var(--warm-light);
  border-right: 2vw solid var(--warm-dark);

  padding: 1vw;
  margin: 1vw;

  transition: 0.3s;
}
.flexcolumn span { display: block; }
.flexcolumn:hover {
  border-right: 4vw solid var(--warm-dark);
  transition: 0.3s;
}

.flexrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  flex-wrap: wrap;
  width: 88vw;
}
.flexrow .separator { width: 44vw; }

#back {
  position: absolute;
  top: 0.57vw;
  left: 2.5vw;
  z-index: -1;

  color: var(--cold-light);
}

.separator {
  margin-top: 1vw;
  margin-bottom: 1vw;
}

@media only screen and (max-width: 1000px) {
  #back {
    top: 0.8vw;
    left: 2.5vw;
  }
}
