@import url("https://use.typekit.net/csa5hex.css");

:root {
  --back1: hsl(0, 0%, 0%);
  --back2: hsl(0, 0%, 5%);
  --text: hsl(120, 100%, 70%);
  --shad: hsl(120, 50%, 90%);

  --dist1: 0.07vw;
  --dist2: -0.07vw;
}

body {
  animation-duration: 0.06s;
  animation-name: flicker;
  animation-iteration-count: infinite;

  color: var(--text);
  font-size: 2vw;
  text-transform: uppercase;
  white-space: pre;

  font-family: lores-12-bold-alt-oakland, sans-serif;
  font-weight: 400;
  font-style: normal;

  background-image: linear-gradient(var(--back1), var(--back2));
  background-size: 100% 0.5vw;
}

input {
  animation-duration: 0.06s;
  animation-name: flicker;
  animation-iteration-count: infinite;

  color: var(--text);
  font-size: 2vw;
  text-transform: uppercase;

  font-family: lores-12-bold-alt-oakland, sans-serif;
  font-weight: 400;
  font-style: normal;

  margin-left: -2vw;
  padding: 0.5vw;
  width: 98.75%;

  border: 0.1vw dashed var(--text);

  background: inherit;
}

#crt { margin-top: -4.5vw; }

@keyframes flicker {
  from {
    text-shadow: var(--dist1) 0 var(--shad), var(--dist2) 0 var(--shad);
  }
  to {
    text-shadow: var(--dist2) 0 var(--shad), var(--dist1) 0 var(--shad);
  }
}
