body {
  background-color: black;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

button {
  border: none;
  background-color: white;

  font-size: 3vw;
  color: black;
  text-transform: uppercase;

  margin: 1vw;
}

.collapse {
  font-size: 1vw;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  margin: 1vw;
}
